.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-content: center;
  grid-gap: 1em;
}

.nav-btn {
  padding: 50px, 0, 0, 50px;
}

.nav-btn:hover {
  cursor: pointer;
  background-color: gray;
}